<ion-content class="ion-padding">

  <img src="../../../assets/img/mcclean-logo.png" class="logo center">

  <form #loginForm="ngForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" required [(ngModel)]="model.email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" required [(ngModel)]="model.password"></ion-input>
    </ion-item>
    
    <ion-button class="ion-margin-top" shape="round" expand="block" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
    <ion-button class="ion-margin-top" shape="round" fill="outline" expand="block" [routerLink]="['/register']">Regístraste</ion-button>
  </form>

  <img src="../../../assets/img/signin_google.png" class="sigingoogle center" *ngIf="isFbAndGoogleSignInVisible">
  <img src="../../../assets/img/signin-facebook.png" class="siginfacebook center" *ngIf="isFbAndGoogleSignInVisible">

  <div class="parent">
    <ng-lottie height="100%" class="lottie" [options]="optionsOk" (complete)="completedOk($event)" (animationCreated)="animationOkCreated($event)"></ng-lottie>
    <ng-lottie height="100%" class="lottie" [options]="optionsNok" (complete)="completedNok($event)" (animationCreated)="animationNokCreated($event)"></ng-lottie>
    <ion-spinner color="primary" *ngIf="showLoadingSpinner"></ion-spinner>
  </div>

  <div class="footer">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 85" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
      </defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(49,124,247,0.6)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(49,124,247,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(49,124,247,0.4)" />
      </g>
  </svg>
  </div>

</ion-content>
