<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

  <ion-list>

    <ion-item *ngFor="let client of clients">
        <ion-avatar slot="start">
          <img src="{{client.photoUrl}}">
        </ion-avatar>
        
        <ion-label>
          {{client.name}} {{client.surname}}
        </ion-label>
        
        <ion-chip color="primary" *ngIf="client.remainingCredit > 0">
          <ion-label>Crédito: {{ client.remainingCredit | number: '1.2-2'}}€ </ion-label>
        </ion-chip>

        <ion-chip color="danger"  *ngIf="client.remainingCredit === 0">
          <ion-label>Crédito: {{ client.remainingCredit | number: '1.2-2'}}€ </ion-label>
        </ion-chip>
       
    </ion-item>

  </ion-list>

</ion-content>
