<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Machines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="scroll" scrollY="true" style="height: 100%;">
      <ion-card *ngFor="let machineGroup of machineGroups" style="width: 50%; height: 90%; display: inline-block;">
        <img [src]="machineGroup.iconUrl" />
        <ion-card-header>
          <ion-card-title>{{machineGroup.typeName}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
