<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

  <div class="body-container">

    <div class="ion-padding">
      <ion-text *ngIf="step===0" color="primary"><h1>PASO 1:</h1><h3>Selecciona un tipo de máquina:</h3></ion-text>
      <ion-text *ngIf="step===1" color="primary"><h1>PASO 2:</h1><h3>Selecciona una máquina libre:</h3></ion-text>
      <ion-text *ngIf="step===2" color="primary"><h1>PASO 3:</h1><h3>Selecciona una tarifa:</h3></ion-text>
    </div>

    <!-- Skeleton -->
    <ion-slides pager="true" [options]="slideOpts" *ngIf="!isData">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-thumbnail class="fill-parent">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
          </ion-card-header>
          <ion-card-content>
            <ion-skeleton-text animated class="fill-parent"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <!-- Skeleton end -->
  
    <ion-slides pager="true" [options]="slideOpts" *ngIf="isData && step === 0">
      <ion-slide *ngFor="let machineGroup of machineGroups">
        <ion-card style="overflow: visible;">
          <ion-card-header>
            <img src={{machineGroup.iconUrl}} style="position: relative; margin-top: -100px;"/>
            <ion-badge color="success" *ngIf="machineGroup.numberOfAvailableMachines > 1">{{machineGroup.numberOfAvailableMachines}} máquinas libres</ion-badge>
            <ion-badge color="warning" *ngIf="machineGroup.numberOfAvailableMachines == 1">Sólo {{machineGroup.numberOfAvailableMachines}} máquina libre</ion-badge>
            <ion-badge color="danger" *ngIf="machineGroup.numberOfAvailableMachines == 0">Ninguna máquina libre</ion-badge>
            <ion-text color="primary"><h4>{{machineGroup.typeName}}</h4></ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="outline" expand="block" slot="end" (click)="selectMachineGroup(machineGroup.id)">
              Seleccionar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-slides pager="true" [options]="slideOpts" *ngIf="isData && step === 1">
      <ion-slide *ngFor="let machine of machineGroups[selectedMachineGroupId - 1].machines">
        <ion-card style="overflow: visible;">  
          <ion-card-header>
            <ion-text *ngIf="isAvailable(machine)" color="success" style="display: block; position: relative; margin-top: -120px; margin-bottom: 120px; height: 110px; font-size: 180px; font-weight: bolder;">{{machine.labeledAs}}</ion-text>
            <ion-text *ngIf="!isAvailable(machine)" color="danger" style="display: block; position: relative; margin-top: -120px; margin-bottom: 120px; height: 110px; font-size: 180px; font-weight: bolder;">{{machine.labeledAs}}</ion-text>
            <ion-badge color="success" *ngIf="isAvailable(machine)">Disponible</ion-badge>
            <ion-badge color="danger" *ngIf="!isAvailable(machine)">¡Máquina ocupada!<br>Quedará libre en:<br><countdown [config]="{leftTime: secondsUntillMachineIsAvailable(machine)}"></countdown></ion-badge>
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="outline" expand="block" slot="end" (click)="selectMachine(machine.id)" [disabled]="!isAvailable(machine)">
              Seleccionar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-slides pager="true" [options]="slideOpts" *ngIf="isData && step === 2">
      <ion-slide *ngFor="let tariff of availableTariffs let cardNumber=index">
        <ion-card style="overflow: visible;">
          <ion-card-header>
            <img src="../../../assets/img/coins.svg" style="position: relative; margin-top: -70px; height: 110px;"/>
            <ion-text color="primary"><h6>"{{tariff.name}}"</h6></ion-text>
            <ion-text *ngIf="!tariff.isAdjustableDuration" color="primary"><h5>{{tariff.price}} € cada {{tariff.durationInMinutes}} minutos</h5></ion-text>
            <div *ngIf="tariff.isAdjustableDuration">
              <ion-button style="width: 45%;" (click)="onClickDecreaseQuantity(cardNumber)" [disabled]="selectedQuantity[cardNumber] == 1"><ion-icon name="remove"></ion-icon></ion-button>
              <ion-button  style="width: 45%;" (click)="onClickIncreaseQuantity(cardNumber)" [disabled]="selectedQuantity[cardNumber] == 9"><ion-icon name="add"></ion-icon></ion-button>
              <ion-text color="primary"><h4>{{selectedQuantity[cardNumber] * tariff.durationInMinutes}} minutos</h4></ion-text>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="outline" expand="block" slot="end" (click)="selectTariff(tariff.id, cardNumber)">
              <span *ngIf="!showLoadingSpinner">Pagar: {{selectedQuantity[cardNumber] * tariff.price | number:'1.2-2'}}€</span>
              <ion-spinner color="primary" *ngIf="showLoadingSpinner"></ion-spinner>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <div class="center" *ngIf="step === 3">
      <div>
        <ion-text style="text-align: center;" color="success"><h2>¡Pago satisfactorio!</h2></ion-text>
        <ng-lottie style="width: 70%;" [options]="optionsOk" (complete)="completedOk($event)" (animationCreated)="animationOkCreated($event)"></ng-lottie>
      </div>
    </div>
  
    <div class="ion-padding">
      <ion-button color="primary" fill="outline" expand="block" (click)="onBackClick()" *ngIf="step === 1 || step == 2">Atrás</ion-button>
    </div>
  </div>

  <div class="footer">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 85" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
      </defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(49,124,247,0.6)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(49,124,247,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(49,124,247,0.4)" />
      </g>
    </svg>
  </div>
  
</ion-content>
