<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

  <div class="body-container">
    
    <div class="ion-padding">
      <ion-text *ngIf="step===0" color="primary"><h1>PASO 1:</h1><h3>Selecciona un tipo de máquina:</h3></ion-text>
      <ion-text *ngIf="step===1" color="primary"><h1>PASO 2:</h1><h3>Selecciona una tarifa:</h3></ion-text>
      <ion-text *ngIf="step===2" color="primary"><h1>PASO 3:</h1><h3>Selecciona una máquina libre:</h3></ion-text>
    </div>
  
    <ion-slides pager="true" [options]="slideOpts" *ngIf="isData && step === 0">
      <ion-slide *ngFor="let machineGroup of machineGroups">
        <ion-card>
          <ion-card-header>
            <img src={{machineGroup.iconUrl}} />
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="outline" expand="block" slot="end" (click)="selectMachineGroup(machineGroup.id)">
              {{machineGroup.typeName}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-slides pager="true" [options]="slideOpts" *ngIf="isData && step === 1">
      <ion-slide *ngFor="let tariff of availableTariffs">
        <ion-card>
          <ion-card-header>
            <img src="https://img.icons8.com/dusk/64/000000/euro-pound-exchange.png"/>
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="outline" expand="block" slot="end" (click)="selectTariff(tariff.id)">
              {{tariff.name}}<br>
              {{tariff.price}} € cada {{tariff.durationInMinutes}} minutos
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-slides pager="true" [options]="slideOpts" *ngIf="isData && step === 2">
      <ion-slide *ngFor="let machine of machineGroups[selectedMachineGroupId - 1].machines">
        <ion-card>
          <ion-card-header>
            <img [src]="machineGroups[selectedMachineGroupId - 1].iconUrl" />
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="outline" expand="block" slot="end" (click)="selectMachine(machine.id)">
              Máquina {{machine.labeledAs}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <img *ngIf="step === 3" src="https://img.icons8.com/cute-clipart/64/000000/ok.png"/>
  
    <div class="ion-padding">
      <ion-button color="primary" fill="outline" expand="block" (click)="onBackClick()" *ngIf="step > 0">Atrás</ion-button>
    </div>
  </div>
  
</ion-content>
