<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <ion-list *ngIf="isData">
    <div *ngIf="user.machineUsages.length >0" >
      <ion-item *ngFor="let machinUsage of user.machineUsages">
        <ion-thumbnail slot="start">
          <img src={{machinUsage.iconUrl}}>
        </ion-thumbnail>
        <ion-label>
          <h3>{{machinUsage.date | date:'dd.MM.yyyy'}}</h3>
          <p>{{machinUsage.quantityOfServicesBooked}} x "{{machinUsage.tariffName}}" Total: {{ machinUsage.totalAmountPaid }} €</p>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="user.machineUsages.length === 0">
      <ion-text>You have not make usage of our machines yet :(</ion-text>
    </div>
  </ion-list>

  <!-- Skeleton screen -->
  <div *ngIf="!isData">
    <ion-list>
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="car-outline"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="shirt-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  
</ion-content>

