<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

  
  <div class="card">
    
    <ion-text color="primary" class="ion-text-center"><h1>¡HOLA!</h1></ion-text>

    <div class="header">
      <div class="avatar" *ngIf="isData">
        <img src="{{user.photoUrl}}" alt="">
      </div>
      <ion-avatar class="avatar" *ngIf="!isData">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
    </div>

    <div class="card-body">

      <div *ngIf="!isEditData">
        <div class="user-meta ion-text-center" *ngIf="isData">
          <h3 class="client-name">
            {{ user.name }} {{ user.surname }}
            <ion-icon name="hammer-outline" (click)="editData()" class="icon-small" color="medium"></ion-icon>
          </h3>
          <h2 class="client-details">{{ user.email }}</h2>
          <br>
          <h4 class="client-details">{{ user.street }}, {{user.number}}</h4>
          <h4 class="client-details">{{user.zip}} {{user.city}}</h4>
          <h4 class="credit">Saldo actual: {{remainingCreditRounded}}€</h4>
        </div>
  
        <div class="user-meta ion-text-center" *ngIf="!isData">
          <h3 class="client-name"><ion-skeleton-text class="center" animated style="width: 70%"></ion-skeleton-text></h3>
          <h2 class="client-details"><ion-skeleton-text class="center" animated style="width: 50%"></ion-skeleton-text></h2>
          <br>
          <h4 class="client-details"><ion-skeleton-text class="center" animated style="width: 80%"></ion-skeleton-text></h4>
          <h4 class="client-details"><ion-skeleton-text class="center" animated style="width: 80%"></ion-skeleton-text></h4>
          <h4 class="credit"><ion-skeleton-text class="center" animated style="width: 50%"></ion-skeleton-text></h4>
        </div>
      </div>

      <div class="user-meta ion-text-center" *ngIf="isEditData">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="user.name"></ion-input>
          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input [(ngModel)]="user.surname"></ion-input>
          <ion-label item-left position="stacked">Calle</ion-label>
          <ion-input item-left [(ngModel)]="user.street"></ion-input>
          <ion-label item-right position="stacked">Numero</ion-label>
          <ion-input item-right [(ngModel)]="user.number"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" expand="block" color="success" (click)="updateProfileData()">Guardar cambios</ion-button>
        <ion-button class="ion-margin-top" expand="block" fill="outline" (click)="cancelProfileDataEdition()">Cancelar</ion-button>
      </div>

      <div *ngIf="!isEditData">
        <img class="paymentmethods" src="../../../assets/img/paymentmethods.png" alt="">
        <ion-button expand="block" color="primary" (click)="onClickPayment()">Recargar mi cuenta</ion-button>
      </div>

    </div>
    
  </div>

  <div class="footer">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 85" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
      </defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(49,124,247,0.6)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(49,124,247,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(49,124,247,0.4)" />
      </g>
    </svg>
  </div>

</ion-content>
