<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >

  <div class="card">

    <div class="header">
      <div class="avatar">
        <img src="{{user.photoUrl}}" alt="">
      </div>
    </div>

    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="client-name">{{ user.name }} {{ user.surname }}</h3>
        <h5 class="client-details">{{ user.email }}</h5>
        <h6 class="client-details">{{ user.street }}, {{user.number}}</h6>
        <h6 class="client-details">{{user.zip}} {{user.city}}</h6>
        <h6 class="credit">Saldo actual: {{remainingCreditRounded}}€</h6>
      </div>

      <ion-button expand="block" color="primary">Recargar mi cuenta</ion-button>

    </div>
    
  </div>

</ion-content>
